<h1 style="background-image: url( <%= asset_path("bg_masthead.png") %> );height: 530px;margin: 0 0 18px;padding:0;border: 1px solid #b1b1b1">
	<span style="float: left; padding-left: 60px; margin-right: 60px;">
		<image src="<%= asset_path("headline.png")%>"  alt="Finding Your Way Has Never Been So EZ" style="display: block; margin-bottom: 30px; padding-top: 180px" />
		<%= link_to "Start Now", new_user_registration_path, :class => "btn btn-success btn-large", style: "display: block; width: 150px; margin: 0 auto;" %>
	</span>
	<image src="<%= asset_path("masthead_phones.png")%>"  alt="Finding Your Way Has Never Been So EZ" style="float: left; margin-top: 13px;" />
	<div style="clear: both;"></div>
</h1>

<div class="content_block">
	
</div>
