<p id="notice"><%= notice %></p>

<p>
  <b>Optimized:</b>
  <%= @route.optimized ? "yes" : "no" %>
</p>

<% @route.locations.each do |location| %>
  <p>
    <b>location:</b>
    <%= location.address_string %>
  </p>
<% end %>

